# Day 27 — Regex & Python Functions Practice

In [14]:
import re

rows = []
with open("messy_data.csv", "r") as f:
    next(f)
    for line in f:
        rows.append(line.strip().strip('"'))

rows[:5]

['Aanya , Delhi!!! , Rs. 1,299/- , OrderID: ORD1001',
 'Meera , Mumbai@@ , Rs. 850/- , OrderID: ORD1002',
 'Riya , Pune## , Rs. 2,150/- , OrderID: ORD1003',
 'Pooja , Delhi*** , Rs. 999/- , OrderID: ORD1004',
 'Sneha , Bangalore!! , Rs. 1,450/- , OrderID: ORD1005']

## Exercise 1 — Clean each row using regex

In [12]:
def clean_row(row):
    parts = row.split(",")

    name = parts[0].strip()
    city = re.sub(r'[^A-Za-z]', '', parts[1])
    price = int(re.sub(r'\D', '', parts[2]))
    order_id = re.findall(r'ORD\d+', parts[3])[0]

    return name, city, price, order_id


cleaned = [clean_row(r) for r in rows]
print(cleaned)

IndexError: list index out of range

## Exercise 2 — Use map()

In [15]:
prices = list(map(lambda r: int(re.sub(r'\D', '', r.split(",")[2])), rows))
prices

[1, 850, 2, 999, 1, 700, 1, 1]

## Exercise 3 — Use filter()

In [16]:
expensive = list(filter(lambda r: int(re.sub(r'\D', '', r.split(",")[2])) > 1200, rows))
expensive

[]

## Exercise 4 — Use set()

In [17]:
cities = set(map(lambda r: re.sub(r'[^A-Za-z]', '', r.split(",")[1]), rows))
cities

{'Bangalore', 'Delhi', 'Mumbai', 'Pune'}