# Day 31 — Handling Duplicates & Parsing Dates (Practice)

In [20]:

import pandas as pd
df = pd.read_csv("day_31_iot_logs_dirty.csv")
df

    log_id device_id event_type        event_time
0        1      D101         ON  2025-03-01 10:00
1        2      D101         ON  2025-03-01 10:00
2        3      D102        OFF  01/03/2025 11:30
3        4      D103         ON  2025-03-01 12:00
4        5      D101         ON  2025-03-01 12:05
5        6      D102        OFF      invalid_date
6        7      D104         ON  2025-03-02 09:00
7        8      D104         ON  2025-03-02 09:00
8        9      D105        OFF  2025-03-02 10:15
9       10      D105        OFF  2025-03-02 10:15
10      11      D105        OFF  2025-03-02 10:20
11      12      D103         ON  2025-03-01 12:00

## Exercise 1 — Identify duplicate rows

In [21]:
# TODO

df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [22]:

df[df.duplicated()]

Empty DataFrame
Columns: [log_id, device_id, event_type, event_time]
Index: []

In [23]:
df.duplicated().sum()

np.int64(0)

## Exercise 2 — Business-key duplicates

In [24]:
# TODO

df[df.duplicated(subset = ["device_id", "event_type", "event_time"])]

    log_id device_id event_type        event_time
1        2      D101         ON  2025-03-01 10:00
7        8      D104         ON  2025-03-02 09:00
9       10      D105        OFF  2025-03-02 10:15
11      12      D103         ON  2025-03-01 12:00

## Exercise 3 — Remove duplicates

In [25]:
# TODO

df_clean = df.drop_duplicates(
    subset = ["device_id", "event_type", "event_time"],
    keep = "last"
)

df_clean

    log_id device_id event_type        event_time
1        2      D101         ON  2025-03-01 10:00
2        3      D102        OFF  01/03/2025 11:30
4        5      D101         ON  2025-03-01 12:05
5        6      D102        OFF      invalid_date
7        8      D104         ON  2025-03-02 09:00
9       10      D105        OFF  2025-03-02 10:15
10      11      D105        OFF  2025-03-02 10:20
11      12      D103         ON  2025-03-01 12:00

## Exercise 4 — Parse dates

In [26]:
# TODO

df_clean["event_time"] = pd.to_datetime(
    df_clean["event_time"],
    errors = "coerce"
)

df_clean

C:\Users\komal\AppData\Local\Temp\ipykernel_3908\640670092.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["event_time"] = pd.to_datetime(

    log_id device_id event_type          event_time
1        2      D101         ON 2025-03-01 10:00:00
2        3      D102        OFF                 NaT
4        5      D101         ON 2025-03-01 12:05:00
5        6      D102        OFF                 NaT
7        8      D104         ON 2025-03-02 09:00:00
9       10      D105        OFF 2025-03-02 10:15:00
10      11      D105        OFF 2025-03-02 10:20:00
11      12      D103         ON 2025-03-01 12:00:00

## Exercise 5 — Extract date parts

In [27]:
# TODO

df_clean["event_date"] = df_clean["event_time"].dt.date
df_clean["event_hour"] = df_clean["event_time"].dt.hour

df_clean

C:\Users\komal\AppData\Local\Temp\ipykernel_3908\2392291375.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["event_date"] = df_clean["event_time"].dt.date
C:\Users\komal\AppData\Local\Temp\ipykernel_3908\2392291375.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["event_hour"] = df_clean["event_time"].dt.hour

    log_id device_id event_type          event_time  event_date  event_hour
1        2      D101         ON 2025-03-01 10:00:00  2025-03-01        10.0
2        3      D102        OFF                 NaT         NaT         NaN
4        5      D101         ON 2025-03-01 12:05:00  2025-03-01        12.0
5        6      D102        OFF                 NaT         NaT         NaN
7        8      D104         ON 2025-03-02 09:00:00  2025-03-02         9.0
9       10      D105        OFF 2025-03-02 10:15:00  2025-03-02        10.0
10      11      D105        OFF 2025-03-02 10:20:00  2025-03-02        10.0
11      12      D103         ON 2025-03-01 12:00:00  2025-03-01        12.0