# Day 24 â€” Pandas Foundations Practice

In [ ]:

import pandas as pd
df = pd.read_csv("day_24_data.csv")
df.head()

## Inspect Data

In [ ]:

df.tail()
df.info()
df.describe()

## Selecting Columns

In [ ]:

df["name"]
df[["name","city"]]

## Filtering Rows

In [ ]:

df[df["math_score"] > 85]
df[df["city"] == "Delhi"]

## Practice Exercises

In [ ]:

# EXERCISE 1: Show students with attendance > 90

# EXERCISE 2: Show names and science_score of Pune students

# EXERCISE 3: Find average math_score