# Day 33 — Date Parsing & String Cleaning (Practice)

In [13]:

import pandas as pd
df = pd.read_csv("day_33_event_registrations_dirty.csv")
df

    event_id               event_name registration_date         city
0        201             Tech Meetup         2025-06-01       Delhi
1        202          AI Conference!!        01/06/2025       MUMBAI
2        203    data science workshop      June 3, 2025    bangalore
3        204     Women-In-Tech Summit        2025/06/04   Hyderabad
4        205          Startup Pitch    2025-06-05 10:30      delhi!!
5        206          AI Conference!!      invalid_date      Mumbai
6        207   health & wellness expo        2025-06-07    Bangalore
7        208              Tech Meetup        07-06-2025        DELHI
8        209    DATA science Workshop        2025-06-09   Bangalore
9        210            Startup Pitch      June 10 2025       mumbai
10       211    Women-In-Tech Summit         2025/06/11    Hyderabad
11       212            AI conference        2025-06-12       DELHI
12       213   Health & Wellness Expo        12-06-2025  bangalore!!
13       214             Tech meetup         2025.06.14       Mumbai
14       215          Startup Pitch!!  2025-06-15 15:45        delhi
15       216    Data Science Workshop        2025-06-16    BANGALORE
16       217            AI Conference        2025/06/17     mumbai!!
17       218     Women in Tech summit        17-06-2025    Hyderabad
18       219  Health & wellness expo      June 19, 2025        Delhi
19       220              tech meetup        2025-06-20      MUMBAI

## Exercise 1 — Parse registration_date

In [14]:
# TODO

df["registration_date"] = pd.to_datetime(
    df["registration_date"], errors = "coerce"
)

## Exercise 2 — Identify invalid dates

In [15]:
# TODO

invalid_dates = df[df["registration_date"].isna()]
invalid_dates

    event_id               event_name registration_date         city
1        202          AI Conference!!               NaT       MUMBAI
2        203    data science workshop               NaT    bangalore
3        204     Women-In-Tech Summit               NaT   Hyderabad
4        205          Startup Pitch                 NaT      delhi!!
5        206          AI Conference!!               NaT      Mumbai
7        208              Tech Meetup               NaT        DELHI
9        210            Startup Pitch               NaT       mumbai
10       211    Women-In-Tech Summit                NaT    Hyderabad
12       213   Health & Wellness Expo               NaT  bangalore!!
13       214             Tech meetup                NaT       Mumbai
14       215          Startup Pitch!!               NaT        delhi
16       217            AI Conference               NaT     mumbai!!
17       218     Women in Tech summit               NaT    Hyderabad
18       219  Health & wellness expo                NaT        Delhi

## Exercise 3 — Extract date parts

In [16]:
# TODO

df["year"] = df["registration_date"].dt.year
df["month"] = df["registration_date"].dt.month
df["day"] = df["registration_date"].dt.day

## Exercise 4 — Clean event_name

In [17]:
# TODO

df["event_name_clean"] = (
    df["event_name"]
    .str.strip()
    .str.lower()
    .str.replace(r"[^a-z\s-]", "", regex = True)
    .str.replace(r"\s+", "", regex= True)
)

## Exercise 5 — Clean city names

In [18]:
# TODO

df["city_clean"] = (
    df["city"]
    .str.strip()
    .str.lower()
    .str.replace(r"[^a-z]", "", regex = True)
)

df

,event_id,event_name,registration_date,city,year,month,day,event_name_clean,city_clean
0,201,Tech Meetup,2025-06-01,Delhi,2025.0,6.0,1.0,techmeetup,delhi
1,202,AI Conference!!,NaT,MUMBAI,NaN,NaN,NaN,aiconference,mumbai
2,203,data science workshop,NaT,bangalore,NaN,NaN,NaN,datascienceworkshop,bangalore
3,204,Women-In-Tech Summit,NaT,Hyderabad,NaN,NaN,NaN,women-in-techsummit,hyderabad
4,205,Startup Pitch,NaT,delhi!!,NaN,NaN,NaN,startuppitch,delhi
5,206,AI Conference!!,NaT,Mumbai,NaN,NaN,NaN,aiconference,mumbai
6,207,health & wellness expo,2025-06-07,Bangalore,2025.0,6.0,7.0,healthwellnessexpo,bangalore
7,208,Tech Meetup,NaT,DELHI,NaN,NaN,NaN,techmeetup,delhi
8,209,DATA science Workshop,2025-06-09,Bangalore,2025.0,6.0,9.0,datascienceworkshop,bangalore
9,210,Startup Pitch,NaT,mumbai,NaN,NaN,NaN,startuppitch,mumbai
10,211,Women-In-Tech Summit,NaT,Hyderabad,NaN,NaN,NaN,women-in-techsummit,hyderabad
11,212,AI conference,2025-06-12,DELHI,2025.0,6.0,12.0,aiconference,delhi
12,213,Health & Wellness Expo,NaT,bangalore!!,NaN,NaN,NaN,healthwellnessexpo,bangalore
13,214,Tech meetup,NaT,Mumbai,NaN,NaN,NaN,techmeetup,mumbai
14,215,Startup Pitch!!,NaT,delhi,NaN,NaN,NaN,startuppitch,delhi
15,216,Data Science Workshop,2025-06-16,BANGALORE,2025.0,6.0,16.0,datascienceworkshop,bangalore
16,217,AI Conference,NaT,mumbai!!,NaN,NaN,NaN,aiconference,mumbai
17,218,Women in Tech summit,NaT,Hyderabad,NaN,NaN,NaN,womenintechsummit,hyderabad
18,219,Health & wellness expo,NaT,Delhi,NaN,NaN,NaN,healthwellnessexpo,delhi
19,220,tech meetup,2025-06-20,MUMBAI,2025.0,6.0,20.0,techmeetup,mumbai