In [1]:
import pandas as pd
import sqlite3

movies = pd.read_csv('/kaggle/input/day-10-movies/day_10_movies.csv')

conn = sqlite3.connect(':memory:')
movies.to_sql('movies', conn, index=False, if_exists='replace')

25

In [2]:
pd.read_sql("SELECT * FROM movies LIMIT 5;", conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,1,The Silent Sea,Sci-Fi,Korean,South Korea,2021,125,7.6,820000
1,2,Midnight Sun,Romance,English,USA,2018,91,6.6,450000
2,3,Dark Waters,Drama,English,USA,2019,126,7.6,390000
3,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
4,5,Your Name,Animation,Japanese,Japan,2016,112,8.4,3100000

# SELECT & WHERE:

**Show all movies released after 2018**

In [4]:
query = """
SELECT *
FROM movies
WHERE release_year >= 2018;
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,1,The Silent Sea,Sci-Fi,Korean,South Korea,2021,125,7.6,820000
1,2,Midnight Sun,Romance,English,USA,2018,91,6.6,450000
2,3,Dark Waters,Drama,English,USA,2019,126,7.6,390000
3,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
4,6,Dune,Sci-Fi,English,USA,2021,155,8.0,2800000
5,7,Little Women,Drama,English,USA,2019,135,7.8,670000
6,8,The Platform,Thriller,Spanish,Spain,2019,94,7.0,920000
7,9,RRR,Action,Telugu,India,2022,187,8.0,5100000
8,14,The Call,Thriller,Korean,South Korea,2020,112,7.1,760000
9,15,Tenet,Sci-Fi,English,UK,2020,150,7.3,2100000

**Show movies where rating > 8**

In [5]:
query = """
SELECT *
FROM movies
WHERE rating > 8;
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
1,5,Your Name,Animation,Japanese,Japan,2016,112,8.4,3100000
2,10,3 Idiots,Comedy,Hindi,India,2009,171,8.4,6300000
3,11,Interstellar,Sci-Fi,English,USA,2014,169,8.6,9200000
4,12,Coco,Animation,English,USA,2017,105,8.4,4500000
5,19,Oldboy,Thriller,Korean,South Korea,2003,120,8.4,970000
6,20,Spirited Away,Animation,Japanese,Japan,2001,125,8.6,8800000
7,21,The Dark Knight,Action,English,USA,2008,152,9.0,15000000
8,22,Inception,Sci-Fi,English,USA,2010,148,8.8,12000000
9,23,Queen,Drama,Hindi,India,2013,146,8.2,1300000

**Show movies in language = 'Korean'**

In [6]:
query = """
SELECT *
FROM movies
WHERE language = "Korean";
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,1,The Silent Sea,Sci-Fi,Korean,South Korea,2021,125,7.6,820000
1,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
2,13,Train to Busan,Horror,Korean,South Korea,2016,118,7.6,1800000
3,14,The Call,Thriller,Korean,South Korea,2020,112,7.1,760000
4,19,Oldboy,Thriller,Korean,South Korea,2003,120,8.4,970000

# ORDER BY & LIMIT:

**Top 5 highest rated movies**

In [7]:
query = """
SELECT *
FROM movies
ORDER BY rating DESC
LIMIT 5;
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,21,The Dark Knight,Action,English,USA,2008,152,9.0,15000000
1,22,Inception,Sci-Fi,English,USA,2010,148,8.8,12000000
2,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
3,11,Interstellar,Sci-Fi,English,USA,2014,169,8.6,9200000
4,20,Spirited Away,Animation,Japanese,Japan,2001,125,8.6,8800000

**Top 3 movies with highest views**

In [9]:
query = """
SELECT *
FROM movies
ORDER BY views DESC
LIMIT 3;
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,21,The Dark Knight,Action,English,USA,2008,152,9.0,15000000
1,22,Inception,Sci-Fi,English,USA,2010,148,8.8,12000000
2,11,Interstellar,Sci-Fi,English,USA,2014,169,8.6,9200000

**Oldest 5 movies**

In [10]:
query = """
SELECT *
FROM movies
ORDER BY release_year ASC
LIMIT 5 ;
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,20,Spirited Away,Animation,Japanese,Japan,2001,125,8.6,8800000
1,19,Oldboy,Thriller,Korean,South Korea,2003,120,8.4,970000
2,25,The Notebook,Romance,English,USA,2004,123,7.8,3400000
3,17,Jab We Met,Romance,Hindi,India,2007,138,7.9,1100000
4,21,The Dark Knight,Action,English,USA,2008,152,9.0,15000000

# LIKE & IN:

**Movies where title contains 'The'**

In [11]:
query = """
SELECT *
FROM movies
WHERE title LIKE '%The%';
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,1,The Silent Sea,Sci-Fi,Korean,South Korea,2021,125,7.6,820000
1,8,The Platform,Thriller,Spanish,Spain,2019,94,7.0,920000
2,14,The Call,Thriller,Korean,South Korea,2020,112,7.1,760000
3,18,The Lunchbox,Drama,Hindi,India,2013,104,7.8,680000
4,21,The Dark Knight,Action,English,USA,2008,152,9.0,15000000
5,25,The Notebook,Romance,English,USA,2004,123,7.8,3400000

**Movies where genre IN ('Drama', 'Romance')**

In [12]:
query = """
SELECT *
FROM movies
WHERE genre in ('Drama', 'Romance');
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,2,Midnight Sun,Romance,English,USA,2018,91,6.6,450000
1,3,Dark Waters,Drama,English,USA,2019,126,7.6,390000
2,7,Little Women,Drama,English,USA,2019,135,7.8,670000
3,17,Jab We Met,Romance,Hindi,India,2007,138,7.9,1100000
4,18,The Lunchbox,Drama,Hindi,India,2013,104,7.8,680000
5,23,Queen,Drama,Hindi,India,2013,146,8.2,1300000
6,24,Her,Romance,English,USA,2013,126,8.0,2100000
7,25,The Notebook,Romance,English,USA,2004,123,7.8,3400000

**Movies where language IN ('Hindi', 'Korean')**

In [13]:
query = """
SELECT *
FROM movies
WHERE language IN ('Hindi', 'Korean');
"""

pd.read_sql(query, conn)

,movie_id,title,genre,language,country,release_year,duration_minutes,rating,views
0,1,The Silent Sea,Sci-Fi,Korean,South Korea,2021,125,7.6,820000
1,4,Parasite,Thriller,Korean,South Korea,2019,132,8.6,2200000
2,10,3 Idiots,Comedy,Hindi,India,2009,171,8.4,6300000
3,13,Train to Busan,Horror,Korean,South Korea,2016,118,7.6,1800000
4,14,The Call,Thriller,Korean,South Korea,2020,112,7.1,760000
5,17,Jab We Met,Romance,Hindi,India,2007,138,7.9,1100000
6,18,The Lunchbox,Drama,Hindi,India,2013,104,7.8,680000
7,19,Oldboy,Thriller,Korean,South Korea,2003,120,8.4,970000
8,23,Queen,Drama,Hindi,India,2013,146,8.2,1300000

# Aggregates:

**Total number of movies**

In [15]:
query = """
SELECT COUNT(*) as No_of_movies
FROM movies;
"""

pd.read_sql(query, conn)

   No_of_movies
0            25

**Average movie rating**

In [16]:
query = """
SELECT AVG(rating) as Average_Rating
FROM movies
;
"""

pd.read_sql(query, conn)

   Average_Rating
0           7.956

**Total views across all movies**

In [17]:
query = """
SELECT SUM(views) as Total_views
FROM movies
;
"""

pd.read_sql(query, conn)

   Total_views
0     91660000

# GROUP BY & HAVING:

**Number of movies per genre**

In [21]:
query = """
SELECT genre, COUNT(*) as no_movies
FROM movies
GROUP BY genre;
"""

pd.read_sql(query, conn)

       genre  no_movies
0     Action          2
1  Animation          4
2     Comedy          1
3      Drama          4
4     Horror          1
5    Romance          4
6     Sci-Fi          5
7   Thriller          4

**Average rating per language**

In [22]:
query = """
SELECT language, AVG(rating)
FROM movies
GROUP BY language;
"""

pd.read_sql(query, conn)

   language  AVG(rating)
0   English     7.941667
1     Hindi     8.075000
2  Japanese     8.500000
3    Korean     7.860000
4   Spanish     7.000000
5    Telugu     8.000000

**Countries with average rating > 8**

In [23]:
query = """
SELECT AVG(rating), country
FROM movies
GROUP BY Country
HAVING AVG(rating) > 8;
"""

pd.read_sql(query, conn)

   AVG(rating) country
0         8.06   India
1         8.50   Japan