# Day 35 — Final Data Cleaning Before EDA (Practice)

In [1]:

import pandas as pd
import numpy as np

df = pd.read_csv("day_35_learning_platform_dirty.csv")
df.head()

,user_id,course_category,age,hours_spent,completion_rate,subscription_type
0,3001,AI,45.0,17.97,0.3,Paid
1,3002,Web Dev,25.0,4.08,-0.2,Trial
2,3003,web development,21.0,4.67,1.1,PAID
3,3004,Data Science,24.0,8.70,0.9,Free
4,3005,data science,23.0,0.28,0.9,Free

## Exercise 1 — Inspect inconsistent categories

In [2]:
# TODO

df["course_category"].value_counts()
df["subscription_type"].value_counts()

subscription_type
PAID     13
Paid     11
Trial    11
Free     11
free      4
Name: count, dtype: int64

## Exercise 2 — Standardize course_category

In [3]:
# TODO

df["course_category"] = (
    df["course_category"]
    .str.strip()
    .str.lower()
)

category_map = {
    "data science": "data science",
    "ds": "data science",
    "web dev": "web development",
    "web development": "web development",
    "ai": "ai"
}

df["course_category"] = df["course_category"].replace(category_map)

## Exercise 3 — Handle skewed & invalid values

In [4]:
# TODO

df.loc[(df["age"] < 18) | (df["age"]>30), "age"] = np.nan
df.loc[(df["completion_rate"] < 0) | (df["completion_rate"] > 1), "completion_rate"] = np.nan

## Exercise 4 — Conditional cleaning rules

In [5]:
# TODO

df.loc[df["hours_spent"] == 0, "completion_rate"] = 0

## Exercise 5 — Create final analysis-ready dataset

In [6]:
# TODO

final_cols = [
    "user_id",
    "course_category",
    "subscription_type",
    "age",
    "hours_spent",
    "completion_rate"
]

final_df = df[final_cols]
final_df.head()

,user_id,course_category,subscription_type,age,hours_spent,completion_rate
0,3001,ai,Paid,NaN,17.97,0.3
1,3002,web development,Trial,25.0,4.08,NaN
2,3003,web development,PAID,21.0,4.67,NaN
3,3004,data science,Free,24.0,8.70,0.9
4,3005,data science,Free,23.0,0.28,0.9