In [1]:
import pandas as pd
import sqlite3

df = pd.read_csv('/kaggle/input/day11-dataset/day_11_clothing_accessories.csv')

conn = sqlite3.connect(':memory:')
df.to_sql('products', conn, index=False, if_exists='replace')

pd.read_sql("SELECT * FROM products LIMIT 5;", conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
2,3,Printed Palazzo Pants,Clothing,Women,W,1599,Bangalore,145,4.2
3,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
4,5,Ethnic Jhumka Set,Accessories,Women,Anouk,499,Jaipur,210,4.3

**Show all products where category = 'Clothing'**

In [2]:
query = """
SELECT *
FROM products
WHERE category = 'Clothing';
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
2,3,Printed Palazzo Pants,Clothing,Women,W,1599,Bangalore,145,4.2
3,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
4,8,Indigo Shirt,Clothing,Men,Okhai,1999,Mumbai,110,4.2
5,10,Cotton Pathani Kurta,Clothing,Men,Sojanya,1499,Hyderabad,140,4.1
6,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
7,14,Khadi Cotton Shirt,Clothing,Men,Khadi India,999,Varanasi,160,4.2
8,18,Floral Anarkali Kurta,Clothing,Women,Aurelia,1899,Lucknow,125,4.3
9,19,Men's Casual Linen Shirt,Clothing,Men,And,1799,Bangalore,140,4.0
10,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
11,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
12,25,Cotton Lounge Wear Set,Clothing,Women,Zivame,1599,Bangalore,130,4.1
13,28,Casual Graphic T-shirt,Clothing,Men,Roadster,799,Delhi,220,4.0
14,29,High Waist Denim Jeans,Clothing,Women,Sassafras,1999,Bangalore,175,4.2
15,33,Ethnic Printed Cape,Clothing,Women,Indya,1699,Delhi,110,4.3
16,34,Cotton Short Kurta,Clothing,Men,Manyavar,1399,Delhi,150,4.2
17,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
18,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
19,38,Women's Oversized Hoodie,Clothing,Women,H&M,1999,Delhi,170,4.0

**Show all products priced above 2000**

In [3]:
query = """
SELECT *
FROM products
WHERE price > 2000;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
1,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
2,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
3,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
4,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
5,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
6,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
7,26,Men's Leather Wallet,Accessories,Men,Hidesign,2499,Chennai,80,4.4
8,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
9,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
10,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
11,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
12,39,Printed Canvas Backpack,Accessories,Unisex,Zouk,2299,Pune,90,4.5
13,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8

**Show products targeted for 'Women'**

In [4]:
query = """
SELECT *
FROM products
WHERE target_gender = 'Women';
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
2,3,Printed Palazzo Pants,Clothing,Women,W,1599,Bangalore,145,4.2
3,5,Ethnic Jhumka Set,Accessories,Women,Anouk,499,Jaipur,210,4.3
4,6,Kolhapuri Chappals,Footwear,Women,Needledust,1899,Pune,130,4.4
5,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
6,9,Handcrafted Sling Bag,Accessories,Women,Jaypore,1799,Jaipur,95,4.6
7,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
8,12,Oxidized Silver Bangles,Accessories,Women,Giva,699,Delhi,240,4.3
9,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
10,15,Printed Cotton Stole,Accessories,Women,Fabindia,799,Delhi,190,4.4
11,16,Boho Chunky Necklace,Accessories,Women,Nykaa Fashion,1199,Mumbai,130,4.1
12,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
13,18,Floral Anarkali Kurta,Clothing,Women,Aurelia,1899,Lucknow,125,4.3
14,20,Mirror Work Clutch,Accessories,Women,Okhai,1499,Ahmedabad,90,4.6
15,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
16,22,Silk Blend Dupatta,Accessories,Women,Biba,999,Delhi,170,4.4
17,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
18,25,Cotton Lounge Wear Set,Clothing,Women,Zivame,1599,Bangalore,130,4.1
19,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
20,29,High Waist Denim Jeans,Clothing,Women,Sassafras,1999,Bangalore,175,4.2
21,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
22,32,Structured Office Tote Bag,Accessories,Women,Zouk,1899,Mumbai,135,4.4
23,33,Ethnic Printed Cape,Clothing,Women,Indya,1699,Delhi,110,4.3
24,35,Handcrafted Beaded Anklet,Accessories,Women,Jaypore,499,Jaipur,200,4.1
25,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
26,38,Women's Oversized Hoodie,Clothing,Women,H&M,1999,Delhi,170,4.0
27,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8

**Show products sold in city = 'Mumbai'**

In [5]:
query = """
SELECT *
FROM products
WHERE city = 'Mumbai';
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
1,8,Indigo Shirt,Clothing,Men,Okhai,1999,Mumbai,110,4.2
2,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
3,16,Boho Chunky Necklace,Accessories,Women,Nykaa Fashion,1199,Mumbai,130,4.1
4,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
5,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
6,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
7,32,Structured Office Tote Bag,Accessories,Women,Zouk,1899,Mumbai,135,4.4
8,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7

**Show products with rating >= 4.5**

In [6]:
query = """
SELECT *
FROM products
WHERE rating >= 4.5 ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
1,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
2,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
3,9,Handcrafted Sling Bag,Accessories,Women,Jaypore,1799,Jaipur,95,4.6
4,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
5,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
6,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
7,20,Mirror Work Clutch,Accessories,Women,Okhai,1499,Ahmedabad,90,4.6
8,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
9,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
10,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
11,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
12,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
13,39,Printed Canvas Backpack,Accessories,Unisex,Zouk,2299,Pune,90,4.5
14,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8

**Show products where price is between 500 and 1500**

In [7]:
query = """
SELECT *
FROM products
WHERE price BETWEEN 500 AND 1500 ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
2,10,Cotton Pathani Kurta,Clothing,Men,Sojanya,1499,Hyderabad,140,4.1
3,12,Oxidized Silver Bangles,Accessories,Women,Giva,699,Delhi,240,4.3
4,14,Khadi Cotton Shirt,Clothing,Men,Khadi India,999,Varanasi,160,4.2
5,15,Printed Cotton Stole,Accessories,Women,Fabindia,799,Delhi,190,4.4
6,16,Boho Chunky Necklace,Accessories,Women,Nykaa Fashion,1199,Mumbai,130,4.1
7,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
8,20,Mirror Work Clutch,Accessories,Women,Okhai,1499,Ahmedabad,90,4.6
9,22,Silk Blend Dupatta,Accessories,Women,Biba,999,Delhi,170,4.4
10,28,Casual Graphic T-shirt,Clothing,Men,Roadster,799,Delhi,220,4.0
11,34,Cotton Short Kurta,Clothing,Men,Manyavar,1399,Delhi,150,4.2

**Show products where category = 'Footwear' and price > 2500**

In [8]:
query = """
SELECT *
FROM products
WHERE category = 'Footwear' AND price >= 2500 ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
1,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
2,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5

**Show products sorted by price (highest first)**

In [9]:
query = """
SELECT *
FROM products
ORDER BY price DESC ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8
1,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
2,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
3,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
4,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
5,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
6,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
7,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
8,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
9,26,Men's Leather Wallet,Accessories,Men,Hidesign,2499,Chennai,80,4.4
10,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
11,39,Printed Canvas Backpack,Accessories,Unisex,Zouk,2299,Pune,90,4.5
12,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
13,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
14,8,Indigo Shirt,Clothing,Men,Okhai,1999,Mumbai,110,4.2
15,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
16,29,High Waist Denim Jeans,Clothing,Women,Sassafras,1999,Bangalore,175,4.2
17,38,Women's Oversized Hoodie,Clothing,Women,H&M,1999,Delhi,170,4.0
18,6,Kolhapuri Chappals,Footwear,Women,Needledust,1899,Pune,130,4.4
19,18,Floral Anarkali Kurta,Clothing,Women,Aurelia,1899,Lucknow,125,4.3
20,32,Structured Office Tote Bag,Accessories,Women,Zouk,1899,Mumbai,135,4.4
21,9,Handcrafted Sling Bag,Accessories,Women,Jaypore,1799,Jaipur,95,4.6
22,19,Men's Casual Linen Shirt,Clothing,Men,And,1799,Bangalore,140,4.0
23,33,Ethnic Printed Cape,Clothing,Women,Indya,1699,Delhi,110,4.3
24,3,Printed Palazzo Pants,Clothing,Women,W,1599,Bangalore,145,4.2
25,25,Cotton Lounge Wear Set,Clothing,Women,Zivame,1599,Bangalore,130,4.1
26,10,Cotton Pathani Kurta,Clothing,Men,Sojanya,1499,Hyderabad,140,4.1
27,20,Mirror Work Clutch,Accessories,Women,Okhai,1499,Ahmedabad,90,4.6
28,34,Cotton Short Kurta,Clothing,Men,Manyavar,1399,Delhi,150,4.2
29,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
30,16,Boho Chunky Necklace,Accessories,Women,Nykaa Fashion,1199,Mumbai,130,4.1
31,14,Khadi Cotton Shirt,Clothing,Men,Khadi India,999,Varanasi,160,4.2
32,22,Silk Blend Dupatta,Accessories,Women,Biba,999,Delhi,170,4.4
33,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
34,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
35,15,Printed Cotton Stole,Accessories,Women,Fabindia,799,Delhi,190,4.4
36,28,Casual Graphic T-shirt,Clothing,Men,Roadster,799,Delhi,220,4.0
37,12,Oxidized Silver Bangles,Accessories,Women,Giva,699,Delhi,240,4.3
38,5,Ethnic Jhumka Set,Accessories,Women,Anouk,499,Jaipur,210,4.3
39,35,Handcrafted Beaded Anklet,Accessories,Women,Jaypore,499,Jaipur,200,4.1

**Show products where city is either Delhi or Bangalore**

In [10]:
query = """
SELECT *
FROM products
WHERE city = 'Delhi' OR city = 'Bangalore';
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,3,Printed Palazzo Pants,Clothing,Women,W,1599,Bangalore,145,4.2
2,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
3,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
4,12,Oxidized Silver Bangles,Accessories,Women,Giva,699,Delhi,240,4.3
5,15,Printed Cotton Stole,Accessories,Women,Fabindia,799,Delhi,190,4.4
6,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
7,19,Men's Casual Linen Shirt,Clothing,Men,And,1799,Bangalore,140,4.0
8,22,Silk Blend Dupatta,Accessories,Women,Biba,999,Delhi,170,4.4
9,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
10,25,Cotton Lounge Wear Set,Clothing,Women,Zivame,1599,Bangalore,130,4.1
11,28,Casual Graphic T-shirt,Clothing,Men,Roadster,799,Delhi,220,4.0
12,29,High Waist Denim Jeans,Clothing,Women,Sassafras,1999,Bangalore,175,4.2
13,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
14,33,Ethnic Printed Cape,Clothing,Women,Indya,1699,Delhi,110,4.3
15,34,Cotton Short Kurta,Clothing,Men,Manyavar,1399,Delhi,150,4.2
16,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
17,38,Women's Oversized Hoodie,Clothing,Women,H&M,1999,Delhi,170,4.0

**Show top 5 most expensive products**

In [11]:
query = """
SELECT *
FROM products
ORDER BY price DESC
LIMIT 5 ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8
1,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
2,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
3,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
4,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7

**Find products whose rating is higher than average rating**

In [12]:
query = """
SELECT *
FROM products
WHERE rating > (
    SELECT AVG(rating) from products
);
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,1,Ajrakh Print Kurti,Clothing,Women,Biba,1299,Delhi,180,4.4
1,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
2,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
3,6,Kolhapuri Chappals,Footwear,Women,Needledust,1899,Pune,130,4.4
4,7,Block Print Dupatta,Accessories,Women,Fabindia,899,Delhi,170,4.5
5,9,Handcrafted Sling Bag,Accessories,Women,Jaypore,1799,Jaipur,95,4.6
6,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
7,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
8,15,Printed Cotton Stole,Accessories,Women,Fabindia,799,Delhi,190,4.4
9,17,Embroidered Potli Bag,Accessories,Women,Indya,899,Delhi,155,4.5
10,20,Mirror Work Clutch,Accessories,Women,Okhai,1499,Ahmedabad,90,4.6
11,22,Silk Blend Dupatta,Accessories,Women,Biba,999,Delhi,170,4.4
12,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
13,26,Men's Leather Wallet,Accessories,Men,Hidesign,2499,Chennai,80,4.4
14,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
15,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
16,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
17,32,Structured Office Tote Bag,Accessories,Women,Zouk,1899,Mumbai,135,4.4
18,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
19,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
20,39,Printed Canvas Backpack,Accessories,Unisex,Zouk,2299,Pune,90,4.5
21,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8

**Find products whose price is greater than the average price**

In [13]:
query = """
SELECT *
FROM products
WHERE price > (
    SELECT AVG(price) FROM products
);
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,2,Handloom Cotton Saree,Clothing,Women,Suta,2499,Mumbai,120,4.6
1,4,Men's Nehru Jacket,Clothing,Men,Manyavar,2999,Delhi,90,4.5
2,8,Indigo Shirt,Clothing,Men,Okhai,1999,Mumbai,110,4.2
3,11,Bandhani Dress,Clothing,Women,Gulabo Jaipur,2299,Jaipur,85,4.5
4,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
5,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
6,23,Printed Cotton Co-ord Set,Clothing,Women,Libas,2099,Delhi,105,4.3
7,24,Handwoven Ikat Kurta,Clothing,Men,Taneira,2699,Hyderabad,95,4.5
8,26,Men's Leather Wallet,Accessories,Men,Hidesign,2499,Chennai,80,4.4
9,27,Minimal Gold Plated Earrings,Accessories,Women,CaratLane,1999,Mumbai,150,4.6
10,29,High Waist Denim Jeans,Clothing,Women,Sassafras,1999,Bangalore,175,4.2
11,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
12,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5
13,36,Pastel Linen Saree,Clothing,Women,Suta,2899,Mumbai,95,4.7
14,37,Men's Slim Fit Jeans,Clothing,Men,Levis,2799,Bangalore,125,4.4
15,38,Women's Oversized Hoodie,Clothing,Women,H&M,1999,Delhi,170,4.0
16,39,Printed Canvas Backpack,Accessories,Unisex,Zouk,2299,Pune,90,4.5
17,40,Bridal Kundan Necklace Set,Accessories,Women,Tribe Amrapali,5999,Jaipur,65,4.8

**Find products belonging to the most expensive category**

In [19]:
query = """
SELECT * FROM products
WHERE category = (
    SELECT category
    FROM Products
    GROUP BY category
    ORDER BY AVG(price) DESC
    LIMIT 1
) ;
"""

pd.read_sql(query, conn)

,product_id,product_name,category,target_gender,brand,price,city,units_sold,rating
0,6,Kolhapuri Chappals,Footwear,Women,Needledust,1899,Pune,130,4.4
1,13,Leather Mojris,Footwear,Women,Needledust,2599,Mumbai,75,4.6
2,21,Women's Block Heel Sandals,Footwear,Women,Metro,2199,Mumbai,115,4.2
3,30,Men's Running Shoes,Footwear,Men,Nike,4999,Delhi,140,4.7
4,31,Women's White Sneakers,Footwear,Women,Puma,3999,Mumbai,155,4.5

**Find brands that have at least one product priced above 3000**

In [20]:
query = """
SELECT DISTINCT brand
FROM products
WHERE brand IN (
    SELECT brand
    FROM products
    WHERE price > 3000
);
"""

pd.read_sql(query, conn)

            brand
0            Nike
1            Puma
2  Tribe Amrapali

**Create a derived table showing total units_sold per category**

In [22]:
query = """
SELECT *
FROM (
    SELECT category, SUM(units_sold) as units
    FROM products
    GROUP BY category
) AS table1 ;
"""

pd.read_sql(query, conn)

      category  units
0  Accessories   2170
1     Clothing   2670
2     Footwear    615

**From that derived table, display only categories where total units_sold > 1000**

In [26]:
query = """
SELECT *
FROM (
    SELECT category, SUM(units_sold) AS total_units
    FROM products
    GROUP BY category
) AS table2
WHERE total_units > 1000;

"""

pd.read_sql(query, conn)

      category  total_units
0  Accessories         2170
1     Clothing         2670

**Create a derived table showing average price per brand**

In [27]:
query = """
SELECT *
FROM (
    SELECT brand, AVG(price) AS average_price
    FROM products
    GROUP BY brand
) AS table3 ;

"""

pd.read_sql(query, conn)

             brand  average_price
0              And         1799.0
1            Anouk          499.0
2          Aurelia         1899.0
3             Biba         1149.0
4        CaratLane         1999.0
5         Fabindia          849.0
6             Giva          699.0
7    Gulabo Jaipur         2299.0
8              H&M         1999.0
9         Hidesign         2499.0
10           Indya         1299.0
11         Jaypore         1149.0
12     Khadi India          999.0
13           Levis         2799.0
14           Libas         2099.0
15        Manyavar         2199.0
16           Metro         2199.0
17      Needledust         2249.0
18            Nike         4999.0
19   Nykaa Fashion         1199.0
20           Okhai         1749.0
21            Puma         3999.0
22        Roadster          799.0
23       Sassafras         1999.0
24         Sojanya         1499.0
25            Suta         2699.0
26         Taneira         2699.0
27  Tribe Amrapali         5999.0
28               W         1599.0
29          Zivame         1599.0
30            Zouk         2099.0

**From that derived table, sort brands by average price**

In [28]:
query = """
SELECT *
FROM (
    SELECT brand, AVG(price) AS avg_price
    FROM products
    GROUP BY brand
    ORDER BY AVG(price) DESC 
) AS table4 ;

"""

pd.read_sql(query, conn)

             brand  avg_price
0   Tribe Amrapali     5999.0
1             Nike     4999.0
2             Puma     3999.0
3            Levis     2799.0
4          Taneira     2699.0
5             Suta     2699.0
6         Hidesign     2499.0
7    Gulabo Jaipur     2299.0
8       Needledust     2249.0
9            Metro     2199.0
10        Manyavar     2199.0
11            Zouk     2099.0
12           Libas     2099.0
13       Sassafras     1999.0
14             H&M     1999.0
15       CaratLane     1999.0
16         Aurelia     1899.0
17             And     1799.0
18           Okhai     1749.0
19          Zivame     1599.0
20               W     1599.0
21         Sojanya     1499.0
22           Indya     1299.0
23   Nykaa Fashion     1199.0
24         Jaypore     1149.0
25            Biba     1149.0
26     Khadi India      999.0
27        Fabindia      849.0
28        Roadster      799.0
29            Giva      699.0
30           Anouk      499.0