# Day 32 — Feature Engineering & Data Validation (Practice)

In [17]:

import pandas as pd
import numpy as np
from datetime import datetime

df = pd.read_csv("day_32_logistics_shipments.csv")
df

,shipment_id,dispatch_time,delivery_time,distance_km,vehicle_type,delivery_status
0,1001,2025-06-01 08:15,2025-06-01 09:05,12,Bike,On-Time
1,1002,2025-06-01 09:30,2025-06-01 10:45,18,Bike,On-Time
2,1003,2025-06-01 10:45,2025-06-01 12:10,25,Van,Delayed
3,1004,2025-06-01 11:00,2025-06-01 11:55,10,Bike,On-Time
4,1005,2025-06-01 12:20,2025-06-01 13:40,22,Van,Delayed
5,1006,2025-06-01 13:10,2025-06-01 14:50,30,Truck,Delayed
6,1007,2025-06-01 14:50,2025-06-01 16:30,28,Truck,Delayed
7,1008,2025-06-01 15:30,2025-06-01 16:50,15,Bike,On-Time
8,1009,2025-06-01 16:40,2025-06-01 18:30,35,Truck,Delayed
9,1010,2025-06-01 17:15,2025-06-01 18:40,20,Van,On-Time
10,1011,2025-06-01 18:10,2025-06-01 19:45,26,Van,Delayed
11,1012,2025-06-01 19:05,2025-06-01 20:40,14,Bike,On-Time
12,1013,2025-06-01 20:30,2025-06-01 22:10,40,Truck,Delayed
13,1014,2025-06-01 21:10,2025-06-01 23:00,32,Truck,Delayed
14,1015,2025-06-01 22:00,2025-06-01 23:30,45,Truck,Delayed

## Exercise 1 — Parse datetime columns

In [18]:
# TODO

df["dispatch_time"] = pd.to_datetime(df["dispatch_time"])
df["devlivery_time"] = pd.to_datetime(df["delivery_time"])

## Exercise 2 — Create delivery duration feature

In [19]:
df["dispatch_time"] = pd.to_datetime(df["dispatch_time"])
df["delivery_time"] = pd.to_datetime(df["delivery_time"])
df.dtypes

df["delivery_duration_min"] = (
    df["delivery_time"] - df["dispatch_time"]
).dt.total_seconds() / 60

## Exercise 3 — Time-based features

In [20]:
# TODO

df["dispatch_hour"] = df["dispatch_time"].dt.hour
df["dispatch_day"] = df["dispatch_time"].dt.day_name()
df["is_weekend"] = df["dispatch_time"].dt.weekday >= 5

## Exercise 4 — Numeric & bucket features

In [21]:
# TODO

df["delivery_hours"] = df["delivery_duration_min"] / 60
df["speed_kmph"] = df["distance_km"] / df["delivery_hours"]

df["distance_bucket"] = pd.cut(
    df["distance_km"],
    bins=[0, 15, 30, np.inf],
    labels=["Short", "Medium", "Long"]
)

## Exercise 5 — Flag features

In [22]:
# TODO

df["is_delayed"] = df["delivery_status"] == "Delayed"
df["is_night_delivery"] = df["dispatch_hour"] >= 20

## Exercise 6 — Data quality assertions

In [23]:
# TODO

assert (df["delivery_duration_min"] >= 0).all()
assert (df["distance_km"] > 0).all()
assert (df["speed_kmph"] < 120).all()
assert df.notna().all().all()