# Day 34 — Data Quality Validation with Assertions (Practice)

In [20]:

import pandas as pd
df = pd.read_csv("day_34_student_assessments_dirty.csv")
df

    student_id    name    age  math_score  attendance_pct
0            1   Aarav   20.0        78.0            85.0
1            2    Diya   21.0        85.0            90.0
2            3   Kabir   19.0         NaN            88.0
3            4   Anaya    NaN        92.0            92.0
4            5   Rohan   22.0        88.0             NaN
5            6    Isha   20.0        90.0            95.0
6            7   Arjun   21.0        45.0            60.0
7            8   Meera  200.0       102.0           110.0
8            9  Vihaan   19.0        76.0            80.0
9           10    Sara   20.0         NaN            87.0
10          11   Kabir   21.0        85.0             NaN
11          12    Neha    NaN        89.0            93.0
12          13   Ayaan   22.0        91.0            96.0
13          14   Pooja   20.0        87.0            89.0
14          15    Riya   19.0        93.0            91.0

## Exercise 1 — Basic inspection

In [21]:
# TODO

df.shape

(15, 5)

In [22]:
df.dtypes

student_id          int64
name               object
age               float64
math_score        float64
attendance_pct    float64
dtype: object

In [23]:
df.isna().sum()

student_id        0
name              0
age               2
math_score        2
attendance_pct    2
dtype: int64

## Exercise 2 — Age assertions

In [24]:
# TODO

assert df["age"].notna().all(), "Age contains missiing values"

AssertionError: Age contains missiing values

In [25]:
assert df["age"].between(18,30).all(), "Invalid age values found"

AssertionError: Invalid age values found

## Exercise 3 — Score assertions

In [26]:
assert df["math_score"].notna().all(), "Missing math scores"
assert df["math_score"].between(0, 100).all(), "Invalid math scores"

AssertionError: Missing math scores

## Exercise 4 — Attendance assertions

In [27]:
# TODO

assert df["attendance_pct"].notna.all(), "Missing attendance values"
assert df["attendance_pct"].between(0, 100).all(), "Invalid attendance parameters"

AttributeError: 'function' object has no attribute 'all'

## Exercise 5 — Uniqueness check

In [29]:
# TODO

assert df["student_id"].is_unique, "Duplicate student IDs found"