# Day 22 — Python Basics (Practice Notebook)

This notebook is a guided practice file for Day 22. Work through the sections one by one. Example cells are provided; try the exercises in the empty cells marked **EXERCISE**.

## 1. Variables & Types

Examples and quick checks.

In [16]:
# Example: variable assignment and type checks
age = 22
name = 'Komal'
price = 199.99
is_student = True

print(age, type(age))
print(name, type(name))
print(price, type(price))
print(is_student, type(is_student))

22 <class 'int'>
Komal <class 'str'>
199.99 <class 'float'>
True <class 'bool'>

**EXERCISE:** Create variables `a`, `b` with values 10 and '20' (string). Convert `b` to int and print their sum.

In [17]:


a = 10
b = "20"
b = int(b)
print(a+b)
# convert b to int and print sum

30

## 2. Operators & Expressions

Arithmetic, comparison and logical operators.

In [18]:
# Example arithmetic and comparisons
x = 15
y = 4
print('add', x + y)
print('div', x / y)
print('floor div', x // y)
print('power', x ** 2)
print('is x > y?', x > y)
print('logical AND', (x > 5) and (y < 5))

add 19
div 3.75
floor div 3
power 225
is x > y? True
logical AND True

**EXERCISE:** Given price = 1200 and discount = 15 (%), calculate discounted price and check if discounted price < 1000.

In [19]:
# EXERCISE: write code here

price = 1200
discount = 15
discounted_price = price - (price * discount / 100)
print(discounted_price < 1000)

False

## 3. Control Flow — if / elif / else

Decision making examples.

In [20]:
# Example: grading logic
marks = 82
if marks >= 90:
    grade = 'A'
elif marks >= 75:
    grade = 'B'
else:
    grade = 'C'
print('Marks:', marks, 'Grade:', grade)

Marks: 82 Grade: B

**EXERCISE:** Write an if/else that checks `age` and prints 'adult' if age >= 18 else 'minor'.

In [21]:
# EXERCISE: write code here

age = 90
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

## 4. Loops — for and while

Iteration examples and common patterns.

In [22]:
# for loop example
nums = [10, 20, 30, 40]
sum_val = 0
for n in nums:
    sum_val += n
print('Sum:', sum_val)

# while loop example
count = 0
while count < 3:
    print('count', count)
    count += 1

Sum: 100
count 0
count 1
count 2

**EXERCISE:** Use a for loop to create a new list `doubled` that has values doubled from `nums`.

In [23]:
# EXERCISE: write code here

nums = [1,2,3,4]
print(nums)
doubled = [d*d for d in nums ]
print(doubled)

[1, 2, 3, 4]
[1, 4, 9, 16]

## 5. Functions — define reusable code

Include docstrings and returns.

In [24]:
def calculate_average(numbers):
    """Return the average of a list of numbers."""
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)

# Example usage
print(calculate_average([10, 20, 30]))

20.0

**EXERCISE:** Write a function `is_even(n)` that returns True if n is even, else False.

In [25]:
# EXERCISE: write code here

def is_even(n):
    """function to calculate even or odd"""
    if n % 2 == 0:
        return True
    return False

print(is_even(4))  # True

True

## 6. Lists & Dictionaries

Creation, methods, and basic manipulations.

In [26]:
# List example
fruits = ['apple', 'banana', 'mango']
fruits.append('orange')
print(fruits)

# Dict example
person = {'name':'Asha', 'age':21}
person['cgpa'] = 8.5
print(person)

['apple', 'banana', 'mango', 'orange']
{'name': 'Asha', 'age': 21, 'cgpa': 8.5}

**EXERCISE:** Given `people = [{'name':'A', 'age':20}, {'name':'B','age':25}]` write code to extract names into a list.

In [27]:
# EXERCISE: write code here

people = [{'name':'A', 'age':20}, {'name':'B','age':25}]
names = []

for p in people:
    names.append(p["name"])

print(names)

['A', 'B']

## 7. List Comprehensions

Short, pythonic transformations.

In [28]:
# Example
nums = [1,2,3,4,5]
sq = [n*n for n in nums if n%2==1]
print(sq)

[1, 9, 25]

**EXERCISE:** Create `even_sq` that stores squares of even numbers from nums.

In [29]:
# EXERCISE: write code here

nums = [1,2,3,4,5]
even_sq = [n*n for n in nums if n%2== 0]

print(even_sq)

[4, 16]

## 8. File I/O (CSV) — Intro

Small example to read a CSV without pandas using the haircare sample (already in your day_21 dataset).

In [30]:
# Example reading CSV (demo inline text). In Kaggle replace path with '/kaggle/input/your-folder/day_21_purchases.csv'
csv_text = "name,city,age\nAanya,Delhi,23\nMeera,Mumbai,26\n"
lines = csv_text.strip().split("\n")
header = lines[0].split(",")
rows = [l.split(",") for l in lines[1:]]
print("Header:", header)
print("Rows:", rows)

Header: ['name', 'city', 'age']
Rows: [['Aanya', 'Delhi', '23'], ['Meera', 'Mumbai', '26']]